<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="copy">
<div id="edit-dialog" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-header no-padding">
            <div class="table-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <span class="white">&times;</span>
                </button>
                详细信息
            </div>
        </div>
        <div class="modal-content">
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="editForm">
                    <input type="hidden" name="id"/>

                    <input type="hidden" id="form_creatorId" name='createBy' hidden="true">
                    <input type="hidden" id="form_creatorTime" name='createTime' hidden="true">
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form_mName">菜单名称</label>

                        <div class="col-xs-14 col-sm-7">
                            <input class="form-control" id="form_mName" name="mName" type="text"
                                   placeholder=""/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form_mPath">菜单映射路径</label>

                        <div class="col-xs-14 col-sm-7">
                            <input class="form-control" id="form_mPath" name="mPath"
                                   placeholder=""/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form_parentId">父菜单ID</label>

                        <div class="col-xs-14 col-sm-7">
                            <input class="form-control" id="form_parentId" name="parentId"
                                   placeholder=""/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form_seqNo">子菜单序列号</label>

                        <div class="col-xs-14 col-sm-7">
                            <input class="form-control" id="form_seqNo" name="seqNo"
                                   placeholder=""/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">

            <a href="#" class="btn" onclick="closeEditDialog()">关闭</a>

            <button type="button"  class="btn btn-primary" onclick="save()">保存</button>

        </div>
    </div>
</div>
<script>
    $(function() {
        $("#edit-dialog").on('show.bs.modal', function () {

            initEditFormValid();
        });
        $("#edit-dialog").on('hide.bs.modal', function () {
        	$("#editForm").data('bootstrapValidator').destroy();
            $('#editForm').data('bootstrapValidator', null);
            initEditFormValid();
        });
    });

    function initEditFormValid() {
        $('#editForm').bootstrapValidator({
            message: '输入值无效',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            submitHandler: function(validator, form, submitButton) {
                $.post(form.attr('action'), form.serialize(), function(result) {
                    if (result.success == true || result.success == 'true') {
                    } else {
                        $('#editForm').bootstrapValidator('disableSubmitButtons', false);
                    }
                }, 'json');
            },
            fields: {
                mName: {
                    validators: {
                        notEmpty: {
                            message: '菜单名称不能为空'
                        }
                    }
                },
                mPath: {
                    validators: {
                        notEmpty: {
                            message: '菜单映射路径不能为空'
                        }
                    }
                },
                parentId: {
                    validators: {
                        notEmpty: {
                            message: '父菜单ID不能为空'
                        }
                    }
                },
                seqNo: {
                    validators: {
                        notEmpty: {
                            message: '子菜单序列号不能为空'
                        }
                    }
                }
            }
        });
    }

</script>
</footer>
