<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mall.dao.wx.TOrderMapper" >
    <resultMap id="TOrderMap" type="com.mall.wxshop.entity.order.TOrder">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="shop_id" property="shopId"/>
        <result column="rtn_code" property="rtnCode"/>
        <result column="buy_total" property="buyTotal"/>
        <result column="pay_total" property="payTotal"/>
        <result column="remarks" property="remarks"/>
        <result column="is_rate" property="isRate"/>
        <result column="delFlag" property="delFlag"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
        <association property="shop" column="shop_id" select="findShopById"/>
     </resultMap>

    <select id="findOrderById" resultMap="TOrderMap">
        select * from t_order a where a.id = #{id} and delFlag = '0'
    </select>

    <select id="findOrderByUserId0" resultMap="TOrderMap">
        select * from t_order a where a.user_id = #{userId} and delFlag = '0' order by order_status asc
    </select>

    <select id="findOrderByUserId1" resultMap="TOrderMap">
        select * from t_order a where a.user_id = #{userId} and delFlag = '0' and order_status = 0 order by order_status asc
    </select>

    <select id="findOrderByUserId2" resultMap="TOrderMap">
        select * from t_order a where a.user_id = #{userId} and delFlag = '0' and order_status = 3 and is_rate = '0' order by order_status asc
    </select>

    <select id="findOrderByShopId0" resultMap="TOrderMap">
        select * from t_order a where a.shop_id = #{shopId} and order_status in (1,2)
    </select>

    <select id="findOrderByShopId1" resultMap="TOrderMap">
        select * from t_order a where a.shop_id = #{shopId} and order_status = 3
    </select>

    <select id="findShopById" resultType="com.mall.wxshop.entity.shop.TShop" parameterType="java.lang.String">
        select * from t_shop a where a.id = #{id} and delFlag = '0'
    </select>

    <select id="findOrder" resultType="com.mall.wxshop.entity.order.TOrder">
        select
        *,
        b.shop_logo as "shopLogo",
        b.shop_name as "shopName",
        c.nickName as "userName"
        from t_order a
        left join t_shop b on a.shop_id = b.id
        left join sys_wx_user c on a.user_id = c.id
    </select>
</mapper>


