<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mall.dao.wx.TShopProductMapper" >

    <select id="getProductUserCart" resultType="com.mall.wxshop.com.mall.api.entity.shop.TShopProduct" parameterType="java.lang.String">
        select
        a.*,
        b.id as "cart.id",
        b.buy_num as "cart.buyNum"
        from
        t_shop_product a
        left join t_cart b on a.id = b.product_id and b.delFlag = '0' and b.user_id = #{userId}
        where a.delFlag = '0'
        and a.product_status = '1'
        and a.category_id = #{categoryId}
    </select>

</mapper>


