<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mall.com.mall.provider.dao.component.TProductComponentMapper" >

    <select id="findByProductId" resultType="com.mall.api.com.mall.api.entity.wx.entity.component.TProductComponent" parameterType="java.lang.String">
        select
        a.*,
        b.name as "componentName"
        from t_product_component a
        left join t_component b on a.component_id = b.id
        where
        a.product_id = #{id}
        and a.delFlag = '0'
    </select>

</mapper>


