<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mall.com.mall.provider.dao.wx.TCartMapper" >
    <resultMap id="TCartMap" type="com.mall.wxshop.com.mall.api.com.mall.api.entity.wx.entity.sale.TCart">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="shop_id" property="shopId"/>
        <result column="product_id" property="productId"/>
        <result column="buy_num" property="buyNum"/>
        <result column="delFlag" property="delFlag"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
        <association property="product" column="product_id" select="findProductById"/>
    </resultMap>

    <select id="findCartById" resultMap="TCartMap">
        select * from t_cart a where a.user_id = #{userId} and a.shop_id = #{shopId} and delFlag = '0'
    </select>

    <select id="findProductById" resultType="com.mall.wxshop.com.mall.api.com.mall.api.entity.wx.entity.shop.TShopProduct" parameterType="java.lang.String">
        select * from t_shop_product a where a.id = #{id} and delFlag = '0'
    </select>

    <update id="delAllCart">
        update t_cart set delFlag = '1' where user_id = #{userId} and shop_id = #{shopId}
    </update>
</mapper>


