<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mall.com.mall.provider.dao.wx.TCommentMapper" >
    <resultMap id="TCommentMap" type="com.mall.wxshop.com.mall.api.com.mall.api.entity.wx.entity.sale.TComment">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="shop_id" property="shopId"/>
        <result column="order_id" property="orderId"/>
        <result column="content" property="content"/>
        <result column="star" property="star"/>
        <result column="img_url" property="imgUrl"/>
        <result column="delFlag" property="delFlag"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
        <association property="user" column="user_id" select="findUserById"/>
    </resultMap>

    <select id="findCommentByShopId" resultMap="TCommentMap" parameterType="string">
        select * from t_comment a where a.shop_id = #{shopId} and delFlag = '0'
    </select>

    <select id="findUserById" resultType="com.mall.wxshop.com.mall.api.com.mall.api.entity.wx.entity.user.WxUserInfo" parameterType="string">
        select * from sys_wx_user a where a.id = #{userId} and delFlag = '0'
    </select>

</mapper>


