<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mall.com.mall.provider.dao.wx.TShopMapper" >
    <resultMap id="TShopMap" type="com.mall.wxshop.com.mall.api.com.mall.wx.entity.shop.TShop">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="shop_name" property="shopName"/>
        <result column="shop_logo" property="shopLogo"/>
        <result column="shop_info" property="shopInfo"/>
        <result column="shop_star" property="shopStar"/>
        <result column="shop_state" property="shopState"/>
        <result column="open_time" property="openTime"/>
        <result column="longitude" property="longitude"/>
        <result column="latitude" property="latitude"/>
        <result column="delFlag" property="delFlag"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
        <collection property="tShopCategory" column="id" select="findCategoryById"/>
    </resultMap>

    <select id="getShop" resultMap="TShopMap" parameterType="java.lang.String">
        select * from t_shop a where a.delFlag = '0' and a.user_id = #{userId}
    </select>

    <select id="findCategoryById" resultType="com.mall.wxshop.com.mall.api.com.mall.wx.entity.shop.TShopCategory" parameterType="java.lang.String">
        select * from t_shop_category a where a.shop_id = #{id} and delFlag = '0'
    </select>
</mapper>


