<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登录</title>
    <meta charset="utf-8">
    <script th:src="@{/static/Olive/assets/js/jquery.js}"></script>
    <script th:src="@{/static/js/login.js}"></script>
    <script th:src="@{/static/Olive/plugin/jquery.cookie.js}"></script>
    <!-- ace styles -->
    <link rel="stylesheet" th:href="@{/static/Olive/assets/css/ace.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/login.css}"/>

</head>
<body>

<h1 style="margin-top: 50px">商城后台登录<sup>V2020</sup></h1>

<div class="login" style="margin-top:50px;">

    <div class="header">
        <div class="switch" id="switch">
            <a class="switch_btn_focus" id="switch_qlogin">快速登录</a>
        </div>
    </div>

    <div class="web_qr_login" id="web_qr_login" style="display: block; height: 255px;">
        <!--登录-->
        <div class="web_login" id="web_login">
            <div class="login-box">
                <div class="login_form">
                    <form action="/auth/login/main" name="loginform" accept-charset="utf-8" id="login_form" class="loginForm" method="post">
                        <input type="hidden" name="loginSrc" value="pc">
                        <div id="loginCue" class="cue">请输入用户名密码</div>
                        <div class="uinArea" id="uinArea">
                            <label class="input-tips" for="u">帐号：</label>
                            <div class="inputOuter" id="uArea">
                                <input type="text" id="u" name="username" class="inputstyle"/>
                            </div>
                        </div>
                        <div class="pwdArea" id="pwdArea">
                            <label class="input-tips" for="p">密码：</label>
                            <div class="inputOuter" id="pArea">
                                <input type="password" id="p" name="password" class="inputstyle"/>
                            </div>
                        </div>
                        <div style="padding-left:50px;margin-top:20px;">
                            <input type="submit" id = "login" value="登 录" style="width:150px;float: none" class="button_blue"/>
                            <!--<label class="inline" style="margin-left: 3px">-->
                                <!--<input id="ck_remMe" type="checkbox" class="ace" name="rememberMe"/>-->
                                <!--<span class="lbl"> 记住我</span>-->
                            <!--</label>-->
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--登录end-->
    </div>
</div>
</body>
</html>
